$font-family-headings 			= Georgia, sans 							//标题，修改成你期望的字体族
$font-family-base 				= "Microsoft YaHei", Verdana, sans-serif 	//修改成你期望的字体族
$font-size-base 				= 18px 										//正文字体的大小
$posts-expand-title-font-weight = $font-weight-bolder						//扩展标题